@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 169, 169);
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: monospace;
}

.span-2 {
    color: yellow;
}

.logo {
    float: left;
    padding: 5px;
    width: 70%;
}

.redes-sociais ul li {
    margin-left: 10px;
    display: inline-block;
    list-style: none;
}
.redes-sociais {
    width: 20%;
    float: right;
}

.header-2 {
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}

.menu-urls {
    height: 60px;
    border-bottom: 3px solid #efefef;
    background-color: white;
    width: 100%
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 20px;
    height: 40px;
}

.menu ul li:hover {
    border-bottom: 2px solid rgb(250, 6, 87);

}

.menu ul li a:hover {
    color: rgb(250, 6, 87);
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.about {
    width: 100%;
    padding: 100px 0px;
}

.about img {
    height: auto;
    width: 300px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 2px 89px 13px rgb(163, 105, 105);
}

.about-text {
    width: 550px;
}

.main-2 {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    flex: 1 1 1rem;
    margin-right: 1.5rem;
    background-color: rgb(223, 154, 154);
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 2px 89px 13px rgb(163, 105, 105);
}

span {
    color: rgb(250, 6, 87);
}

.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    width: 30%;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 350px;
    background-color: #fff;
    margin: 20px;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.container .card img {
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: #666;
    transition: 0.5s;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: #dc2e69;
    color: white;
    margin-top: 30px;
    box-shadow: 2px 20px 25px #dc2e685d;
    border-color: #dc2e69;
}

.container .card:hover img{
    filter: invert(0);
}

.container .card:hover .content p {
    color: white;
}

.container .card:hover .content a {
    color: black;
    background-color: white;
}

footer {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px) {     
    .card {         width: 100%;     
    } 
} 